/* General styling */

body {
background-color: #e6e6e6;
}

h1 {
	font-family: 'Roboto', sans-serif;
}

h2 {
	font-family: 'Roboto', sans-serif;	
}

h3 {
	font-family: 'Roboto', sans-serif;	
}

h4 {
	font-family: 'Roboto', sans-serif;	
	margin-right: 10px;
}

p {
	margin-right: 10px;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.container-fluid {
	width: 80%;
	align-content: center;
	margin: auto;
}

.wrapper {
	border: 1px solid grey;
	width: 80%;
	padding: 20px;
	margin-left: 20px;
	margin-top: 10px;
	background-color: white;
}

.wrapper-title {
	width: 50%;
	padding: 20px;
	margin-left: 20px;
	margin-top: 10px;
}

.wrapper-instruction {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.row {
	margin: 3%;
}

.col {
	text-align: center;
}

.btn {
	margin-left: 10px;
}

#gradientText {
      background-image: gradient(linear, left top, right top,
        color-stop(0, red),
        color-stop(0.15, orange),
        color-stop(0.3, yellow),
        color-stop(0.45, green),
        color-stop(0.65, blue),
        color-stop(0.8, indigo),
        color-stop(1, violet)
      );
      color:transparent;
      background-clip: text;

      /* for webkit browsers Chrome and Safari */
      background-image: -webkit-gradient(linear, left top, right top, 
        color-stop(0, red),
        color-stop(0.15, orange),
        color-stop(0.3, yellow), 
        color-stop(0.45, green), 
        color-stop(0.65, blue),
        color-stop(0.8, indigo),
        color-stop(1, violet)
      );
      -webkit-background-clip: text;

            /* for webkit browsers Chrome and Safari */
      background-image: -moz-gradient(linear, left top, right top, 
        color-stop(0, red),
        color-stop(0.15, orange),
        color-stop(0.3, yellow), 
        color-stop(0.45, green), 
        color-stop(0.65, blue),
        color-stop(0.8, indigo),
        color-stop(1, violet)
      );
      -moz-background-clip: text;
}	